@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300&display=swap');

.text {
    font-family: 'Trispace', sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}